.user_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-bottom: 10px;
  background: white;
}

.user_details {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user_image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dbdbdb;
  font-weight: 600;
  overflow: hidden;
}

.Name {
  font-size: 20px;
  font-weight: 700;
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}

.col {
  line-height: 1.6rem;
}
